.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.VC.opendb
*.obj
*.pdb
*.log
*.tlog/
*.tlog
*.d
*.ipch/
*.bak
*.cache
*.ilk
*.exe
*.dll
*.lib
*.meta
*.out
*.swp
*_i.c
*_p.c
*.ilk
*.aps
*.ncb
*.opendb
*.sbr
*.sdf
*.suo
*.tlb
*.tlh
*.tmp
*.log
*.lastbuildstate
[Tt]est[Rr]esult*/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Pp][Ii]/
[Ll][Oo][Gg][Ss]/
[Tt]humbs.db
[Tt]est[Rr]esult*/
packages/
nuget/
node_modules/
wwwroot/assets/vendors/
.vscode/
*.csproj.user
*.xap
*.build.appxrecipe
*.cache
*.accessor.cs
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.mdf
*.ldf
*.suo
*.bak
*.cache
*.gpState
Thumbs.db
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.pfx
*.publishsettings
node_modules/
.idea/
.vscode/
.nuget/